*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    border-radius: 10%;

}

div.esquerda{
    display: grid;
    place-items: center;
    row-gap: 30px;
  }

  div.direita{
    display: grid;
    place-items: center;
    row-gap: 30px;
    border-left: 1px solid black;
  }

 h1{
    font-size: 40px;
 }

 p{
    font-size: 20px;
 }

